/*
    Document   : test_user1
    Created on : Feb 8, 2013, 4:24:32 PM
    Author     : woo
    Description:
        Purpose of the stylesheet follows.
    Note:  # is used for ids, while . is used for classes
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.btm      {position:absolute; left:0px;}
.comment  {color:white; }
a:link    {color:#333399;}
a:visited {color:#333399;}
a:hover   {color:#006666;}
a         {text-decoration:none;}
b         {font-size:9pt;}
.txt      {font-size:9pt;color:#333366; font-family:arial; }

html , body{
    line-height: 1;
    background : #AAAAEE;
    height: 100%;
    margin: 0;
    /* background-image: url(../_images/elogo.jpg); */
}
h3 {
  width: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#log_in,#log_out {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    position:relative; float:right;
    height: 25px;
    #border: 5px solid yellow;
}

.login
{
    background: #FFFFFF;
    line-height: 1;
}

header,
footer {
  padding: 10px;
  height: 30px;
  text-align: center;
}

.nav-buttons {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 30;

}

.nav-button {
  width: 100px;
  padding: 10px;
  display: inline-block;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
}

.text-wrapper
{
    overflow-y : auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: auto;
    height: 200px;
    #border: 5px solid red;
}
.header
{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    #background-color: #2ecc71;
    #border: 2px solid black;
}

label
{
    font-size:16pt; font-family:arial;
}


#content {
	vertical-align: top;
	width: auto;
	#height: auto;
	min-height:  100%;
	padding: 10px;
  margin-bottom: 30px;
  #border: 3px solid orange;
}

#data {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  height: 100%;
  margin-bottom: -30px;
  #border: 3px solid red;
}

#page_num
{
  width: 10%;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:12pt; font-family:arial;
  #border: 3px solid blue;
}

#page {
  height: 600px;
  overflow-y: auto;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  z-index: -1;
  border: 1px solid gray;
}

#image-area {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#navigation-container {
  text-align: center;
  width: 100%;
  height: 30px;
  #border: 3px solid red;
}

#navigation {
  width: 20px;
  float: left;
  #border: 3px solid green;
}

#debug {
    bottom: 0;
    left: 10px;
    right: 10px;
    padding-top: 2px;
    /*border: 5px solid purple;*/
}

footer {
  background-color: #2c3e50;
  color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  #border: 5px solid red;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding-top: 18px;
    padding-bottom: 10px;
    #background: url(../_images/bg-footer.png) repeat-x left top;
    /*border: 5px solid black;*/
}
.footer p {
    font-size: 14px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: .5em .25em .5em 1em;
    color:rgb(55,76,119);
    background: rgb(110,138,195);
    border-radius: 2px 0 0 0;
    margin: 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#nav
{
    width: 10%;
    float: left;
    /*border: 5px solid red;*/
}
.title
{
    margin-left:10%;
    margin-right:10%;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size:18pt; font-family:arial;
    text-align: center;
    #border: 5px solid gray;
}

#lin {
  text-align: center;
  padding-bottom: -400px;
  background : #0099CC;
      /*border: 5px solid gray;*/
}
#login-div
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background : #0099CC;
    /*border: 5px solid gray;*/
}
#select-type-div
{
    top: 20px;
    padding-top: 10px;
    text-align: center;
    /*border: 5px solid gray;*/
}
#message
{
    font-family: Arial,Univers,sans-serif;
    font-size: 18pt;
    color:#000000;
    width: 500px;
    padding-top: 20px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    /*border: 5px solid gray;*/
}
#no-access {
  font-family: Arial,Univers,sans-serif;
  font-size: 18pt;
  color:#FF0000;
  margin-left:20%;
  margin-right:20%;
  text-align: center;
}

#error-div
{
    font-family: Arial,Univers,sans-serif;
    font-size: 18pt;
    color:#FF0000;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
    /*border: 5px solid gray;*/
}
#activity
{
    width:100%;
    /*border: 5px solid green;*/
}
#buttons
{
    margin-left: 20%;
    margin-right: 20%;
    /*border: 5px solid yellow;*/
}

#form-div
{
    vertical-align: top;
    position:relative;
    padding-left:5px;
    padding-right: 5px;
    top:0px;
    z-index:5;
    /*border: 5px solid pink;*/
}
input
{
    text-align: right;
}
#info-div
{
    float: left;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 15px;
    width: 100px;
    height: 50px;
    /*border: 5px solid black;*/
}

#info-img
{
    background-image: url("../_images/screenhelp.jpg");
    background-repeat: no-repeat;
    width: 15px; /*or your image's width*/
    height: 15px; /*or your image's height*/
    margin: 0;
    padding: 0;
}

.renew-button
{
    padding-top: 20px;
    padding-left: 15px;
}
#timer-div
{
    float: left;
    margin-top: 10px;
    padding-left: 15px;
    width: 100px;
    height: 150px;
    /*border: 5px solid black;*/
}
#navigation ul, #navigation li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 100;
}
#navigation a {
    background-color: rgb(204,204,204);
    text-decoration: none;
    font: 16px 'ColaborateLightRegular', Arial, sans-serif;
    text-indent: 10px;
    border-top: 1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    margin: 0px;
    padding: 0px;
    color: rgb(53,75,118);
}
#navigation a:hover {
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color: #555;
    color: white;
}
#navigation .stack > a {
    background-image: url(../_images/arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 8px;
}
#navigation .stack > a:hover {
    background-position: 97% -78px;
}
#navigation ul .stack > a {
    background-position: 97% -21px;
}
#navigation ul .stack > a:hover {
    background-position: 97% -54px;
}

#info {visibility:hidden;}

#tasklist-div
{
    /*border: 2px solid red;*/
}

#tasklist
{
    /*  border: 2px solid black; */
}
.tablesorter
{
    width: 80%;
}
#tasktable
{
    margin-left:5px;
    width:99%;
    height:500px;
    /*   border: 2px solid brown; */
}

tr {
    cursor: pointer;
}
H1
{
    font-family: Arial,Univers,sans-serif;
    font-size: 24pt;
    color:#000000;
}

div#activity-name {        /* this will hide div with id div_id_name */
    display:none;
}

div#oid-div {
    display:none;
}


div#time-div {
    display:none;
}

tr#debug-token {
    display:none;
}

.hide
{
    display:none;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotateimg270 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
